* {
  padding: 0;
  margin: 100 auto; }

body {
  background-color: #fff; }
  body td {
    width: 20px;
    height: 20px; }
  body .blank {
    background-color: transparent; }
  body .snake {
    background-color: #ddd;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); }
  body .wall {
    background-color: rgba(255, 0, 0, 0.6);
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4); }
  body .fruit {
    background-color: red; }
  body #score {
    font-size: 20px;
    color: #000;
    text-align: center; }
