* {
  padding: 0;
  margin: 100 auto; }

body {
  background-color: #000; }
  body td {
    width: 20px;
    height: 20px; }
  body .blank {
    background-color: transparent; }
  body .snake {
    background-color: #fff; }
  body .wall {
    background-color: lime; }
  body .fruit {
    background-color: red; }
  body #score {
    font-size: 20px;
    color: #fff; }
