*{
    padding: 0;
    margin: 100 auto;
}

body{
    background-color: #fff;
    
    td{
        width: 20px;
        height: 20px;
    }
    
    .blank{
        background-color: rgba(0,0,0,0);
    }
    
    .snake{
        background-color: #ddd;  
        box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    }
    
    .wall{
        background-color: rgba(255, 0, 0, 0.6);
        box-shadow: 3px 3px 15px rgba(0,0,0,0.4)
    }
    
    .fruit{
        background-color: rgba(255,0,0,1);
    }
    
    #score{
        font-size: 20px;
        color: #000;
        text-align: center;
    }
}